<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0//EN">
<html>
<head>
    <title>nTextNetwork - Db</title>
</head>
<body>
    @using (Html.BeginForm("Ping", "Db", FormMethod.Get))
    {
        <input type="submit" value="Ping" />
    }
</body>
</html>
